body{
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;

}
.grid{
  display: grid;
  grid-gap: 70px;
  /*grid-template-columns: 40px 40px 40px 40px;*/
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: ;
  justify-content: space-around;
  margin-left: 40px;
  margin-top: 30px;
}
.tekst{
  display: grid;
  grid-template-columns: 1fr;
}

nav{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color:grey;
  text-align: center;
  width: 100%;
}
nav>.lenke>a{
  color: white;
  text-decoration: none;
}
nav>footer{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(50px,auto);
  width: 100%;
}
#logo{
  text-align: center;
  margin: auto;
  width:
  background-color: grey;
}
.usynlig{
  opacity:0;
  grid-column: span 16;
}
header{
  background-color: grey;
  grid-template-columns: 1fr 1fr 1fr;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows:;
  background-color: black;
  margin-bottom: 20px;
}
footer{
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: ;
}
a{
  text-decoration: none;
  color: black;
  font-size: 30px;
}
p{
  font-style: italic;
  font-size: 30px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}
b{
  font-size: 40px;
}
li{
  font-style: italic;
  color: white;
}
h3{
  color: white;
  font-style: italic;
  font-size: 40px;
}
.bestillbord{
  margin-top: 50px;
}
.velg{
  margin-left: 40px;
}
.bilde{
  display: grid;
}
.usynlig{
  opacity:0;
}
.stortbilde{
  grid-column: span 4;
  grid-row: span 4;
  width: 10px;
}
.middelbilde{
  grid-column: span 2;
  grid-row: span 2;
}
.litebilde{
  grid-column: span 1;
  grid-row: span 1;
}
.tekst1{
  grid-column: span 2;
  grid-row: span 2;
}
.tekst2{
  grid-column: span 4;
  grid-row: span 4;
  text-align: center;
}
.tekst3{
  grid-column: span 2;
  grid-row: span 2;
}
ul{
  list-style-type: none;
}






<section>
  <div class="stortbilde">
    <img src="forside.jpeg">
  </div>
  <div class="tekst1">
    <a href="anbefalinger.html">Våre anbefalinger</a>
  </div>
  <div class="middelbilde">
    <img src="middelbilde.jpg">
  </div>
  <div class="tekst2">
    <a href="stillinger.html">Bli en av oss
      <br> Se våre ledige stillinger</a>
  </div>
  <div class="litebilde">
    <img src="litebilde.jpg">
  </div>
  <div class="tekst3">
      <a href="informasjon.html">Om burgerne våre</a>
  </div>
  <div class="litebilde">
    <img src="litebilde.jpg">
  </div>
</section>
