body{
  background-color: lightgrey;
}

ul a{
  display: block;
  background-color: HotPink;
  width: 150px;
  padding: 10px;
  margin: 2px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}
ul a:hover{
  background-color: white;
}
